# ─── Target Site ───────────────────────────────────────────────────────────────
BASE_URL=https://www.ramadia.lk

# ─── Environment ───────────────────────────────────────────────────────────────
ENVIRONMENT=live


# ─── Performance ───────────────────────────────────────────────────────────────
LOAD_TIME_THRESHOLD_MS=5000

# ─── Images ────────────────────────────────────────────────────────────────────
IMAGE_SIZE_LIMIT_KB=500
